---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> 🖐🏻 Hello!</h1>
			<p>
				Welcome to my programming journal pages.

				My name is azizi, i am a software engineer.
				
			</p>
			<p>
				Here, I will mostly write about my journey of learning anything related to software engineering.

				You can also find me on <a href="https://github.com/alfianazizi">GitHub</a>.
			</p>
			<p> 
				This site is built with Astro, which is a static site builder framework that i am currently learning.
				Deployed to Github pages.
			</p>
		</main>
		<Footer />
		<script>
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark';
				}
				return 'light';
			})();
		
			if (theme === 'light') {
				document.documentElement.classList.remove('dark');
			} else {
				document.documentElement.classList.add('dark');
			}
		
			window.localStorage.setItem('theme', theme ?? 'light');
		</script>
	</body>
</html>
